@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  padding: 20px;
  font:16px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.fixedleftmenu {
  width: 1050px;
  /*margin: 0 auto;*/
}

.topmobile {
  display: none;
}

header {
  width:240px;
  float:left;
  position:fixed;
}

section {
  width:700px;
  float:right;
  padding-bottom: 20em;
}

h1 {
  font-size:32px;
  text-align: center;
  margin:0 0 0px;
  line-height:1.1;
}

h2, h3, h4, h5, h6 {
  margin-bottom: 5px;
}

header h2 {
  margin-top: 4em;
}

header h3 {
  font-size: medium;
  margin: 0 0 5px 0px;
}

p {
  margin: 5px 0 0 20px;
}

.item {
  margin: 0 0 0 90px;
  white-space: nowrap;
}

a {
  color: #2e8ab8;
  text-decoration: none;
}

a:hover {
  color: #069;
}

header a {
  color: black;
}

h2.a {
  color: black;
}

.wrapper {
  display: flex;
}

.title {
  font-weight: bold;
  flex: 0 0 120px;
  margin-left: 20px;
}

.content {
  flex: 1px;
}

@media print, screen and (max-width: 1100px) {
  div.fixedleftmenu {
    width: auto;
    margin: 0;
  }

  div.topmobile {
    display: block;
  }

  body {
    padding: 0;
  }

  header, section {
    float: none;
    position: static;
    width: auto;
  }

  header h2 {
    margin-top: 5px;
  }
  
  section h1 {
    display: none;
  }

  .title {
    flex: 0 0 100px;
  }
}
